# Jekyll ignores
.jekyll-metadata
.jekyll-cache/
.sass-cache/
_site/
_drafts/
_data/tokens.yml
_posts/1*
unique/
_site.env
_my/
_includes/_my
_layouts/_my
Gemfile*.lock

# Bundler
.bundle/
vendor/

# =========================
# Operating System Files
# =========================

# macOS
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VSCode
.vscode/
